



{% macro macro_button(btn_list) %}
{% import 'macros/modal.html.twig' as macro_modal %}
    {% for btn in btn_list.list %}
    <button {{btn.btn_tabs.tab_modal.html_area ? 'id='~ btn.btn_tabs.tab_modal.id ~' onclick=modalCreation("'~ btn.btn_tabs.tab_modal.id ~'")':
                                                     'onclick=location.href="'~ btn.btn_tabs.tab_btn.href ~'"' }} 
            class="{{btn_list.css}}" >{{btn_list.title}}</button>
        {% if btn.btn_tabs.tab_modal.html_area %}
            {{macro_modal.macro_modal(btn.btn_tabs.tab_modal.id,
                                        btn.btn_tabs.tab_modal.html_area,
                                        btn.btn_tabs.tab_modal.modalHeader,
                                        btn.btn_tabs.tab_modal.modalFooter,
                                        btn.btn_tabs.tab_modal.textAlignment)}}
        {% endif %}
    {% endfor %}

{% endmacro %}
