

{% macro card(page,img, titre, description, btn_list ) %}

{% import 'macros/button.html.twig' as button %}
<div class="card card-container" style="" >

        <div class="card-image">
        <a href="">{{ page.media[img].cropZoom(800,400).html("","","img-responsive card-image")|raw }}</a>
        </div>
        <h3>{{titre}}</h3>
        <p>{{description}}</p>
        {{button.macro_button(btn_list)}}
        
</div>
{% endmacro %}


