

{% macro card(page,img, titre, description, card_btn ) %}


<div class=" card-container" style="" >
                <img src="{{page.media[img].url}}" class="card-img" >
        <h3>{{titre}}</h3>
        <p>{{description}}</p>
        <button class="btn-eps">{{card_btn}}</button>
</div>
{% endmacro %}


