// EPS colors
$white-full-eps-color: #ffffff !default;
$gray-dark-eps-color: #3b3b3b !default;
$gray-pale-eps-color: #f7f9fc !default;
$blue-dark-eps-color: #24283e !default;
$blue-azul-eps-color: #2e80dd !default;
$blue-flat-eps-color: #3f83b6 !default;
$blue-green-eps-color: #137d8a !default;
$red-lipstick-eps-color: #d62642 !default;
$red-coral-eps-color: #fa4949 !default;
$red-warmpink-eps-color: #fa4949 !default;
$yellow-ocre-eps-color: #d39100 !default;
$yellow-safron: #ffb30d !default;
$green-dark-eps-color: #3acf6e !default;

// EPS Boutons
$btn-eps-blue: $blue-azul-eps-color;
$btn-eps-red: $red-warmpink-eps-color;
$btn-eps-gray: $gray-dark-eps-color;

