# Grav Specific
.sass-cache
composer.lock
cache/*
assets/*
logs/*
images/*
user/data/*

user/themes/eps-theme/node_modules/
user/themes/eps-theme/css-compiled/
user/themes/eps-theme/package-lock.json
user/pages/
stats/

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
