// Button variant mixin
@mixin button-variant($color: $primary-color) {
    background: $color;
    border-color: $color;
    color: $light-color;
    font-weight: $font-weight-light;
    &:focus {
        @include control-shadow($color);
    }
    &:focus,
    &:hover {
        background: darken($color, 9%);
        border-color: darken($color, 11%);
        color: $light-color;
    }
    &:active,
    &.active {
        background: darken($color, 7%);
        border-color: darken($color, 10%);
        color: $light-color;
    }
    &.loading {
        &::after {
            border-bottom-color: $light-color;
            border-left-color: $light-color;
        }
    }
}

@mixin button-outline-variant($color: $primary-color) {
    border: $border-width solid $color;
    color: $color;
    background: none;
    &:focus {
        @include control-shadow($color);
    }
    &:focus,
    &:hover {
        background: lighten($color, 100%);
        color: $color;
    }
    &:active,
    &.active {
        border-color: darken($color, 5%);
        color: $light-color;
    }
}

@mixin text-red-variant($color: $red-warmpink-eps-color) {
    color: $color;
}

@mixin text-blue-variant($color: $blue-green-eps-color) {
    color: $color;
}