.card-container{

    
    width: 100%;
    padding: 5%;
    background-color: $light-color;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 5%;
    box-shadow: 0 0 31px #dce1ed;
    text-align: center;


    & .card-img{
        height: 20vh;
        width: 100%;
        object-fit: fill;
        
    }

    & .card-desc{

    }

    & .card-btn{

    }

}