.card-container{

    
    width: 100%;
    padding: 5%;
    & &__item{
        align-items: stretch;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        border-radius: 5%;
        margin: 5%;
        box-shadow: 0 0 31px #dce1ed;
        text-align: center;
        img{
        border-radius: 5px ;
    }
    }

}