// Modals
.modal {
  display: none;

  align-items: center;
  justify-content: center;
  opacity: 0;
  padding: $layout-spacing;
  background-color: rgba($gray-pale-eps-color, .87);
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;

  &:target,
  &.active {
    display: flex;
    opacity: 1;
    z-index: $zindex-4;
    animation: 0.4s animatetop;

  }

  .modal-background{
    max-width: 750px;
    width: 90%;
    
  }
  .modal-container {
    @include shadow-variant(.2rem);
    background: $bg-color-light;
    border-radius: $modal-border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 70vh;
    width: 100%;
    overflow: hidden;


    h3{
      margin: $unit-2;
      color: $blue-dark-eps-color;
      font-size: var(--h3-font-size);
    }
    .modal-header {
      background-color: $gray-light-eps-color;
      color: $white-full-eps-color;
      padding-left: $unit-8l;
      padding-right: $unit-10;
      padding-top: $unit-5;
      padding-bottom: $unit-5;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    .modal-body {
      overflow-y: auto;
      padding: $unit-6;
      position: relative;
    }

    .modal-footer {
      background-color: $gray-light-eps-color;
      color: $white-full-eps-color;
      padding: $unit-6;
      text-align: left;
    }
  }
}

/* The Close Button */
.close {
  color: lighten($gray-eps-color, 25);
  margin-left: auto;
  align-self: center;
  font-size: $unit-9;
  font-weight: lighter;
  &:hover, &:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  &--dark-color{
    color: $blue-dark-eps-color;
  }
}


/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

