// Modals
.modal {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: $layout-spacing;
  position: fixed;
  right: 0;
  top: 0;

  &:target,
  &.active {
    display: flex;
    opacity: 1;
    z-index: $zindex-4;

    .modal-overlay {
      background: rgba($bg-color, .75);
      bottom: 0;
      cursor: default;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .modal-container {
      animation: slide-down .2s ease 1;
      z-index: $zindex-4;
    }
  }

  &.modal-sm {
    .modal-container {
      max-width: $control-width-sm;
      padding: 0 $unit-2;
    }
  }

  &.modal-lg {
    .modal-overlay {
      background: $bg-color-light;
    }

    .modal-container {
      box-shadow: none;
      max-width: $control-width-lg;
    }
  }
}

.modal-container {
  @include shadow-variant(.2rem);
  animation-name: animatetop;
  animation-duration: 0.4s;
  background: $bg-color-light;
  border-radius: $modal-border-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 75vh;
  max-width: $control-width-md;
  //padding: $unit-2 $unit-4;
  width: 100%;
  overflow: hidden;

  &.modal-fullheight {
    max-height: 100vh;
  }

  .modal-header {
    background-color: $blue-dark-eps-color;
    color: $white-full-eps-color;
    padding: $unit-4;
  }

  .modal-body {
    overflow-y: auto;
    padding: $unit-4;
    position: relative;
  }

  .modal-footer {
    background-color: $blue-dark-eps-color;
    color: $white-full-eps-color;
    padding: $unit-4;
    text-align: left;
  }
}

/* The Close Button */
.close {
  color: $gray-pale-eps-color;
  float: right;
  font-size: $unit-7;
  font-weight: bold;
  &:hover, &:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  &.display-topright{
    float: right;
  }
  &.display-topleft{
    float: left;
  }
  &--dark-color{
    color: $blue-dark-eps-color;
  }
}


/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}