  
  {% if ( obj.main_title or obj.main_description )%}
  <div class="container {{ obj.main_text_align }} p-3">
    <h1 class="py-3">{{ obj.main_title|raw }}</h1>
    <p>{{ obj.main_description|raw }}</p>
  </div>
  {% endif %}