{% set item_style = page.header.basic_enumeration_style %}
{% import 'macros/basic_item.html.twig' as macro_basic_item %}

<section class="container basic-item-list">
    {% include 'partials/general-title-description.html.twig' %}
    <div >
        <ol class="row">
            {% for item in page.header.enum_item_list  %}
                <li class="rcol-12 col-md"> {{macro_basic_item.basic_item(item.item_list_title, item.item_list_description, "basic-item-list__text-container" )}}</li>
            {% endfor %}

        </ol>
    </div>
</section>


