<div class="example_particle {{ particle.css.class }}">
    <div align="center">
        <img src="{{ url(page.header.personnalisation.image) }}" alt="image">
        <h2>{{ page.header.personnalisation.title }}</h2>
        <p>{{ page.header.personnalisation.description }}</p>
    </div>
</div>