{% import 'macros/cards.html.twig' as macro_card %}
<h1>{{page.header.carousel_title}}</h1>
<p>{{ page.header.carousel_description }}</p>

<section class="carousel">
  <ol>
    {% for card in page.header.card_list %}
        {{macro_card.card(page,card.card_image, card.card_title, card.card_description, card.card_btn,loop.index0)}}
    {% endfor %}
  </ol>


</section>




<section class="wrapper-cs carousel-section">
    <div class="carousel-container">
      <div class="owl-carousel solution-theme">
        <div class="carousel-item card-height">
          <div class="card-hp-1 carousel-item__card">
            <div class="img-solution-1">
              <img src="https://epayspace.com/user/images/g5_helium_child/g5_helium_child/Solution/solution-sur-mesure-e-pay-space.png?6020a0eb" width="448" height="303" alt="solution-sur-mesure"/>
            </div>
            <div class="text-solution text-f">
              <h3>Solution <span>sur-mesure</span></h3>
              <p><span>EPS Factory : </span>votre solution personnalisée et à votre image</p>
              <a href="https://epayspace.com/fr/solutions-de-paiement/eps-factory-solutions-de-paiement-sur-mesure"><button class="button-eps-f"><span>En savoir plus</span></button></a>
            </div>
          </div>
        </div>
        <div class="carousel-item card-height">
          <div class="card-hp-2 carousel-item__card">
            <div class="img-solution-2">
              <img src="https://epayspace.com/user/images/g5_helium_child/g5_helium_child/Solution/solution-business-e-pay-space.png?6020a0ec" width="280" height="305" alt="depenses-professionnelles"/>
            </div>
            <div class="text-solution text-b">
              <h3>Dépenses <span>professionnelles</span></h3>
              <p><span>EPS Business : </span>solution clé-en-main de cartes pour les entreprises</p>
              <a href="https://epayspace.com/fr/solutions-de-paiement/eps-business"><button class="button-eps-b"><span>En savoir plus</span></button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script>
      jQuery(document).ready(function($){
      let slider = $('.owl-carousel');
      slider.each(function () {
          $(this).owlCarousel({
          nav: true,
          loop:false,
          dots: false,
          pagination: false,
          margin: 25,
          autoHeight: false,
          stagePadding: 50,
          responsive:{
              0:{
              items: 1,
              stagePadding: 0,
              margin: 30,
              },
              1200:{
              items: 1,
              stagePadding: 25,
              },
              1201:{
              items: 3,
              }
          }
          });
      });
      });
      </script>














      <h1>CSS-only Carousel</h1>

<p>This carousel is created with HTML and CSS only.</p>

<section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    <li id="carousel__slide1"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper">
        <a href="#carousel__slide4"
           class="carousel__prev">Go to last slide</a>
        <a href="#carousel__slide2"
           class="carousel__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousel__slide2"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide1"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide3"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide3"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide2"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide4"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide4"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide3"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide1"
         class="carousel__next">Go to first slide</a>
    </li>
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1"
           class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2"
           class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide3"
           class="carousel__navigation-button">Go to slide 3</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide4"
           class="carousel__navigation-button">Go to slide 4</a>
      </li>
    </ol>
  </aside>
</section