
.basic-item-list{
    h3{
      margin-top: 0;
      margin-bottom: 0;
    }

    .item{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: stretch;
      .infos{
        flex: 0 0 80%;

        align-self: center;
      }
      .item_logo{
        flex: 0 0 10%;
        align-self: center;
        margin-left: $unit-4;
        margin-right: $unit-4;
      }
      .number{
        flex: 0 0 10%;
        text-align: baseline ;

        
        span{ 

          background: $blue-azul-eps-color;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          display: inline-block;
          font-weight: bold;
          line-height: $size-cercle-item-list;
          width: $size-cercle-item-list;
          margin-left: $unit-4;
          margin-right: $unit-4;
          text-align: center;

          color: white;
          font-size: $h3-font-size;
        } 
      }
  }

    ol {
        list-style: none;
        counter-reset: my-awesome-counter;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
      }
      ol li {
        counter-increment: my-awesome-counter;
        display: flex;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
      }
      ol li::before {
        margin-top: 0.5rem;
        height: 1.5rem ;
        width: 1.5rem;
        content: counter(my-awesome-counter);
        font-weight: bold;
        font-size: 1rem;
        margin-right: 1rem;
        flex: 0 0 auto;
        
        text-align:center;
        
        vertical-align: baseline;

        color: $gray-pale-eps-color;
        background-color: $blue-azul-eps-color;
        border-radius: 50%;
      }
      
      & &__text-container{
        h3{
            margin-top: 0;
        }
      }


}

.item-list-cards{
  .logo_img{
    display: flex;
    flex-flow: row nowrap;
    p{
       margin: .5rem;
    }
    img{
      object-fit: contain;
      margin: 0;
    }
  }
  i{
    font-size: 1.3rem;
    color: $blue-azul-eps-color;
  }
  img{
    margin: 0 auto;
  }
}