
.basic-item-list{

    ol {
        list-style: none;
        counter-reset: my-awesome-counter;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
      }
      ol li {
        counter-increment: my-awesome-counter;
        display: flex;
        width: 50%;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
      }
      ol li::before {
        margin-top: 0.5rem;
        height: 1.5rem ;
        width: 1.5rem;
        content: counter(my-awesome-counter);
        font-weight: bold;
        font-size: 1rem;
        margin-right: 1rem;
        flex: 0 0 auto;
        
        text-align:center;
        
        vertical-align: baseline;

        color: $gray-pale-eps-color;
        background-color: $blue-azul-eps-color;
        border-radius: 50%;
      }
      
      & &__text-container{
        h3{
            margin-top: 0;
        }
      }


}

  