.container-features {
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(lg) {
        flex-wrap: nowrap;
    }
    &__image {
        flex: 1 0 49%;
        img, iframe{
            margin: 0 auto;
        }
        iframe{
            border-radius:15px;
        }
    }
    &__desc {
        flex: 1 0 49%;
    }
}
    
