.container-features {
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    &__image {
        flex: 0 0 49%;
    }
    &__desc {
        flex: 0 0 49%;
    }
}
    
