/* --------------------------------------------
    Footer
----------------------------------------------- */

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    color: lighten($gray-dark-eps-color, 15);
    & li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
}

.footer {
    background: #313131;
}

.footer-widget {
    color: lighten($gray-dark-eps-color, 15);
    & p {
        font-size: $font-size;
    }
    & li a {
        color: lighten($gray-dark-eps-color, 15);
    }
    & a:hover {
        color: lighten($blue-flat-eps-color, 8);
        outline: none;
        text-decoration: none;
    }
}

.footer .footer-block {
    border-right: 1px solid #3a3a3a;
    min-height: $space-xl;
}


.footer .footer-block.last {
    border-right: 0;
}

.footer .footer-widget h3 {
    font-size: $font-size-xlg;
    line-height: 22px;
    color: lighten($gray-dark-eps-color, 30);
    margin-bottom: 25px;
}

.footer .footer-logo {
    margin-bottom: 25px;
    width: 8rem;
}

.footer .footer-widget .btn {
    font-size: 11px;
    padding: 5px 18px;
    border-radius: 50px;
    color: #6b6b6b;
    border: 1px solid #4a4a4a;
    margin-top: 40px;
}

.footer .footer-widget .btn:hover {
    color: $white-full-eps-color;
    background-color: #31aae2;
    border: 1px solid transparent;
}

.footer .footer-widget address {
    line-height: 22px;
}

.footer .footer-widget .social-links {
    margin-top: 30px;
}

.footer .footer-widget .social-links li a {
    display: block;
    font-size: 26px;
    width: 42px;
    height: 42px;
    color: $gray-color-light;
    background-color: darken($gray-dark-eps-color, 8);
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    padding: 0.4rem;
}

.footer .footer-widget .social-links li a:hover {
    color: $white-full-eps-color;
    background-color: darken($blue-azul-eps-color, 8);
}

.footer .copyright-section {
    background-color: darken($gray-dark-eps-color, 8);
    color: $gray-color-light;
    padding: $space-xxs;
}

.footer .copyright-section .copytext {
    color: lighten($gray-dark-eps-color, 20);
    font-weight: $font-weight-light;
    & p {
        font-size: $font-size;
    }
}

@include media-breakpoint-up(md) {
    .footer .copyright-section .list-inline>li {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.footer .copyright-section li a {
    display: block;
    font-size: 13px;
    color: #6b6b6b;
}

.footer .copyright-section li a:hover,
.footer .copyright-section li.active a {
    color: #ffffff;
}