.container-showcase {
    h1 {
        margin: 1rem 0;
    }
    .container-showcase__row {
        display: flex;
        flex-flow: row wrap;
        justify-content: right;
        align-content: space-between;
        align-items: center;
        & .primary-image {
            flex: 1 0 50%;
        }
        &__desc {
            flex: 0 0 20%;
            & .secondary-image {
                width: auto;
                max-width: 395px;
                max-height: 130px;
            }
        }
        &.ligne-inverse {
            flex-direction: row-reverse;
            /*Axe principal = axe horizontal*/
        }
    }
}