.container-showcase {
    padding-top: $unit-5;
    h1 {
        margin: 1rem 0;
        font-weight: $font-weight-light;
    }
    p {
        margin: 0rem 0 1.2rem;
    }
    .container-showcase__row {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        align-items: center;
        & .primary-image {
            flex: 0 0 50%;
        }
        &__desc {
            flex: 0 0 50%;
            & .secondary-image {
                width: auto;
                max-width: 395px;
                max-height: 130px;
            }
        }
        &.ligne-inverse {
            flex-direction: row-reverse;
            /*Axe principal = axe horizontal*/
        }
    }
}