.container-showcase {
    padding-top: $unit-5;
    h1 {
        margin: 1rem 0;
        font-weight: $font-weight-light;
    }
    p {
        margin: 0rem 0 1.2rem;
    }
    .container-showcase__row {
        display: flex;
        flex-flow: column-reverse wrap;
        align-content: space-between;
        align-items: center; 
        justify-content: center;
        @include media-breakpoint-up(lg) {
            display: flex;
            flex-flow: row wrap;
            align-content: space-between;
            align-items: center;
        }
        & .primary-image {
            flex: 0 0 50%;
            .showcase_desktop_view{
                display: none;
                @include media-breakpoint-up(lg) {
                    display: inline-block;
                }
            }
            .showcase_mobile_view{
                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }
        &__desc {
            flex: 0 0 50%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            @include media-breakpoint-up(lg) {
                align-items: flex-start;
                justify-content: start;
            }
            & .secondary-image {
                display: none;
                @include media-breakpoint-up(lg) {
                    display: block;
                    width: auto;
                    max-width: 395px;
                    max-height: 130px;
                    margin-bottom: 1rem;
                }
            }
        }
        &.ligne-inverse {
            flex-direction: row-reverse;
            /*Axe principal = axe horizontal*/
        }
    }
    @include media-breakpoint-up(lg) {
        & .primary-image img {
            width: 100%;
        }
    }
}

.container-showcase__card__desc {
    h1 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 30px;
        line-height: 1.3;
    }
}