// Base
*,
*::before,
*::after {
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    box-sizing: border-box;
    font-size: $html-font-size;
    line-height: $html-line-height;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: $body-bg;
    color: $body-font-color;
    font-size: $font-size;
    font-family: $mono-font-family;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

a {
    color: $link-color;
    outline: none;
    text-decoration: none;
    &:focus,
    &:hover,
    &:active,
    &.active {
        color: $link-color-dark;
        text-decoration: underline;
    }
    &:visited {
        color: $link-color-light;
    }
}