// Typography
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $gray-eps-color;
    font-weight: $font-weight-light;
    line-height: $heading-line-height;
    letter-spacing: $letter-spacing;
}

h1,
.h1 {
    --h1-font-size: #{$h1-font-size};
    @include media-breakpoint-down(lg) {
        --h1-font-size: calc(#{$h1-font-size} * .8);
    }
    @include media-breakpoint-down(md) {
        --h1-font-size: calc(#{$h1-font-size} * .7);
    }
    @include media-breakpoint-down(sm) {
        --h1-font-size: calc(#{$h1-font-size} * .6);
    }
    font-size: var(--h1-font-size);
}

h2,
.h2 {
    --h2-font-size: #{$h2-font-size};
    font-weight: $font-weight-medium;
    @include media-breakpoint-down(lg) {
        --h2-font-size: calc(#{$h2-font-size} * .9);
    }
    @include media-breakpoint-down(md) {
        --h2-font-size: calc(#{$h2-font-size} * .85);
    }
    @include media-breakpoint-down(sm) {
        --h2-font-size: calc(#{$h2-font-size} * .75);
    }
    font-size: var(--h2-font-size);
}

h3,
.h3 {
    --h3-font-size: #{$h3-font-size};
    font-weight: $font-weight-medium;
    @include media-breakpoint-down(lg) {
        --h3-font-size: calc(#{$h3-font-size} * .6);
    }
    @include media-breakpoint-down(md) {
        --h3-font-size: calc(#{$h3-font-size} * .45);
    }
    @include media-breakpoint-down(sm) {
        --h3-font-size: calc(#{$h3-font-size} * .35);
    }
    font-size: var(--h3-font-size);
}

h4,
.h4 {
    font-size: $h4-font-size;
}

h5,
.h5 {
    font-size: $h5-font-size;
}

h6,
.h6 {
    font-size: $h6-font-size;
}

// Paragraphs
p {
    margin: $line-height 0 $line-height;
    font-family: $paragraph-font-family;
    --html-font-size: #{$html-font-size};
    @include media-breakpoint-down(md) {
        --html-font-size: calc(#{$html-font-size} * .9);
    }
    @include media-breakpoint-down(sm) {
        --html-font-size: calc(#{$html-font-size} * .9);
    }
    font-size: var(--html-font-size);
}

// Semantic text elements
a,
ins,
u {
    text-decoration-skip: ink edges;
}

abbr[title] {
    border-bottom: $border-width dotted;
    cursor: help;
    text-decoration: none;
}

strong {
    font-weight: $font-weight-regular;
}

em {
    font-weight: $font-weight-regular;
}

// Blockquote
blockquote {
    border-left: $border-width-lg solid $border-color;
    margin-left: 0;
    padding: $unit-2 $unit-4;
    p:last-child {
        margin-bottom: 0;
    }
}

// Lists
ul,
ol {
    margin: 0;
    padding: 0;
    ul,
    ol {
        margin: $unit-4 0 $unit-4 $unit-4;
    }
    li {
        margin-top: $unit-n;
    }
}

ul {
    list-style: disc inside;
    ul {
        list-style-type: circle;
    }
}

ol {
    list-style: decimal inside;
    ol {
        list-style-type: lower-alpha;
    }
}

dl {
    dt {
        font-weight: bold;
    }
    dd {
        margin: $unit-2 0 $unit-4 0;
    }
}